
  <header class="grid headerLogoAndTitle">
    <div>
        <img src="/images/SMBLogo.png" alt="Image should be here">
    </div>
    <div>
        <h1>Solid foundations for a brighter future.</h1>
    </div>
</header>